

<div class="row">
  {{#each users}}
  <div class="card">
    <img src="{{this.profile_pic}}" alt="{{this.first_name}}'s profile picture">
    <div class="card-body">
      <h5 class="card-title">{{this.first_name}} {{this.last_name}}</h5>
      <p class="card-text">{{this.about_me}}</p>
    </div>
  </div>
{{/each}}

</div>