<div class="card mb-3" id="drty-card">

  <div class="row no-gutters" id="drty-card-header">
    <div class="col-md-3">
  <img src={{user.profile_pic}} class="card-img my-prof img-fluid" alt="avatar" style="height: 300px; object-fit: cover;">
</div>

    <div class="col-md-3" id="drty-card-header-textbox">
      <div class="card-body">
        <h1 class="card-title"> {{user.first_name}} {{user.last_name}}</h1>
        <h4 class="card-text"> {{user.user_home}}</h4>
        <h7 class="card-text"> Age:{{user.user_age}}</h7>
        <p class="card-text" style="color:black;">About me: {{user.about_me}}</p>
      </div>
    </div>
    {{!-- <div class="col-md-12 d-flex flex-column align-items-end justify-content-end">
      <button class="btn btn-danger mb-2 button-72" style="margin-right: .5em;" data-bs-toggle="modal"
        data-bs-target="#deleteModal" id="delete">Delete Account</button>
    </div> --}}

  </div>
</div>

  <div>
  <button id="new-future-trip-btn" class="btn btn-block btn-danger button-72" style="padding-bottom: 20px;">Plan a trip!</button>


  <div>
  <button id="profile-page-btn" class="btn btn-block btn-danger button-72" style="padding-bottom: 20px;">Head back to the profile!</button>


</div>
<!-- Add a button to show/hide the form -->

<<<<<<< HEAD
<div style="height: 300px;px;width: 1290px;" class="w-100 p-3">
<div id="kayakSearchWidgetContainer"></div>
</div>
</div>


<div id="new-future-trip-form-container" style="display: none;">
</div>
    <form class="form new-future-trip-form bg-light bg-opacity-75 w-50 rounded pl-4 pb-2">
        <img src="" hidden="hidden" id="ac-img">
=======
</div>



<div id="new-future-trip-form-container" style="display: none;">
    <div class="container">

  <form class="form new-future-trip-form bg-light bg-opacity-75 rounded pl-4 pb-2">
    <img src="" hidden="hidden" id="ac-img">
    <div class="row">
      <div class="col-md-6 border-end">
>>>>>>> dev
        <label for="future-trip-name" style="color:rgb(73, 73, 73)">Dream Destination:</label>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <input class="typeahead form-control form-input bg-light" type="text" id="future-trip-name"
                name="future-trip-name" placeholder="What's your dream trip?">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <label for="add-future-trip-photo-btn" class="form-group" style="color:rgb(73, 73, 73)">Add photos to keep
                the stoke alive!</label>
            </div>
            <div class="col">
              <button type="click" class="btn btn-primary button-72" id="add-future-trip-photo-btn">Upload
                Photos</button>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="future-trip-length" style="color:rgb(73, 73, 73)">How long do you want to go for?</label>
          <textarea class="form-input bg-light" id="future-trip-length" name="future-trip-length"
            placeholder="Duration of stay..."></textarea>
        </div>
        <div class="form-group">
          <label for="future-trip-date" style="color:rgb(73, 73, 73)">When do you want to go?</label>
          <textarea class="form-input bg-light" id="future-trip-date" name="future-trip-date"
            placeholder="Dates of Trip..."></textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label style="color:494949" for="future-trip-hotel-check">Where are you going to stay?</label>
          <select class="form-control" id="future-trip-hotel-check">
            <option>Hotel</option>
            <option>Camping</option>
            <option>AirBnb</option>
            <option>VRBO</option>
            <option>Friends/Family</option>
            <option>CouchSurf</option>
            <option>Adventure Van</option>
          </select>
        </div>
        <div class="form-group">
          <label for="future-trip-desc" style="color:rgb(73, 73, 73)">Why this place? What activities do you
            like?</label>
          <textarea class="form-input bg-light" id="future-trip-desc" name="future-trip-desc"
            placeholder="Why go here?"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary button-72">Create Dream Stamp</button>
        </div>
      </div>
    </div>
  </form>
  </div>
</div>










<div class="container ">
<div class="row align-items-stretch justify-content-between" id="make">

  {{#each futureTrip as |futureTrips|}}
  <div class="col-md-4" id="fix">
<<<<<<< HEAD
    <div class="card h-100" style="width: 19rem;" id="user-drty-card-stamp">
      <img class="card-img-top" src="{{futureTrips.future_destination_photo_url}}" alt="Card image cap">
      <div class="card-body d-flex flex-column justify-content-between">
        <div style="display: flex; justify-content: center;">
          <h5 class="card-title"><a href="/futureTrips/{{futureTrips.id}}" style="color: rgb(6, 3, 22);"
              id="user-drty-stamp-link">{{futureTrips.future_destination_name}}</a></h5>
=======
    <div class="card h-100" style="width: 19rem;" id="user-drty-card-futureTrip">
      <img class="card-img-top" src="{{futureTrips.future_destination_photo_url}}" alt="Card image cap">
      <div class="card-body d-flex flex-column justify-content-between">
        <div style="display: flex; justify-content: center;">
          <h5 class="card-title"><a href="#" style="color: rgb(6, 3, 22);"
              id="user-drty-futureTrip-link">{{futureTrips.future_destination_name}}</a></h5>

>>>>>>> dev
        </div>
        <p class="card-text"><strong>Why Go? - </strong>{{futureTrips.whyGo_notes}}</p>
        <p class="card-text"><strong>When I'm going:</strong> {{futureTrips.when_toGo_notes}}</p>
        <p class="card-text"><strong>How Long I'm staying:</strong> {{futureTrips.howLong_notes}}</p>
        <p class="card-text"><strong>Lodging:</strong> {{futureTrips.stay_in_hotel}}</p>
        <div style="display: flex; justify-content: space-between;">
          <div style="">
<<<<<<< HEAD
              <img class="" style="width:10%" data-id={{futureTrips.id}} src="/images/trash.png" alt="">
            <img type="button" class="" style="width:18%" data-bs-toggle="modal"
              data-bs-target="#updateModal" data-futureTrip-id={{futureTrips.id}} src="/images/pencil.png">
=======
            
              <img class="" style="width:10%" data-id={{futureTrips.id}} src="/images/trash.png" alt="">
            
         
            {{!-- <img type="button" class="" style="width:10%" data-bs-toggle="modal"
              data-bs-target="#updateModal" data-futureTrip-id={{futureTrips.id}} src="/images/pencil.png"> --}}
              
          
>>>>>>> dev
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>
</div>

<div class="kayak-search-container">
  <div id="kayakSearchWidgetContainer"></div>
</div>


<div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Update</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="update-form">
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="notes-update" class="form-label">Update Notes</label>
                        <input type="text" class="form-control" id="notes-update" placeholder="notes">
                    </div>
                    <div class="mb-3">
                        <label for="notes-update" class="form-label">Update Notes</label>
                        <input type="text" class="form-control" id="notes-update" placeholder="notes">
                    </div>
                    <div class="mb-3">
                        <label for="notes-update" class="form-label">Update Notes</label>
                        <input type="text" class="form-control" id="notes-update" placeholder="notes">
                    </div>
                    <div class="mb-3">
                        <label for="notes-update" class="form-label">Update Notes</label>
                        <input type="text" class="form-control" id="notes-update" placeholder="notes">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger" id="updateBtn" data-bs-target="#deleteModal">Update
                    </button>
                </div>
            </form>

        </div>
      </form>
    </div>
  </div>
</div>





<script type="text/JavaScript" src="https://www.kayak.com/affiliate/widget-v2.js"></script>
<script 
     src="https://widget.cloudinary.com/v2.0/global/all.js" 
     type="text/javascript">
    </script>
<script src="./js/profile.js"></script>
<script src="./js/profileFutureTrip.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key={{ mapsApiKey }}&libraries=places&callback=initMap">
</script>

<script src="./js/update.js"></script>