<div class="card mb-3" id="drty-card">
  <div class="row no-gutters">
    <div class="col-md-2">
      <img src={{user.profile_pic}} class="card-img" alt="avatar">
    </div>
    <div class="col-md-3">
      <div class="card-body">
        <p class="card-title">Name: {{user.first_name}} {{user.last_name}}</p>
        <p class="card-text">Country: {{user.user_home}}</p>
        <p class="card-text">About me: {{user.about_me}}</p>
      </div>
      <div class="col-md-7"></div>
    </div>
  </div>
</div>












<!-- Add a button to show/hide the form -->

<img src="https://i.ibb.co/1QTM68S/my-dashboard-html-1.png"  id="new-stamp-btn"></img>

<!-- Add the form inside a container with an ID for easy selection -->
<div id="new-stamp-form-container" style="display: none;" >
  <form class="form new-project-form">
    <div class="form-group">
      <label for="project-name">Destination:</label>
      <input class="form-input" type="text" id="project-name" name="project-name" />
    </div>
    <div class="form-group">
      <label for="project-funding">Photo Upload:</label>
      <input class="form-input" type="number" id="project-funding" name="project-funding" />
    </div>
    <div class="form-group">
      <label for="project-desc">Talk about it:</label>
      <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary button-72">Create</button>
    </div>
  </form>
</div>


<div class="row">
  {{#each stamp as |stamps|}}
  <div class="col-md-4">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><a href="/stamps/{{stamps.id}}">{{stamps.destination_name}}</a></h5>
        <p class="card-text">{{stamps.destination_notes}}</p>
        <button class="btn btn-sm btn-danger button-72" data-id="{{stamps.id}}">DELETE</button>
      </div>
    </div>
  </div>
  {{/each}}
</div>



<script src="./js/profile.js"></script>




