
<div class="card mb-3" id="drty-card">
  <div class="text-center">
    <div class="col-md">
      <img src={{stamp.photo_url}} id="singleton" class="card-img" alt="avatar" />
    </div>

    <h2 style="color: black;">Photo by:
      {{user.first_name}}
      {{user.last_name}}
    </h2>
    <p>Capturing {{stamp.destination_name}}</p>
    <p>Summary: {{stamp.destination_notes}} </p>
    <p><img style="width:5%" src="/images/likes.png" alt="like" />: {{stamp.likes}}</p>
    <p>
    </p>
  </div>
</div>