

<div class="card mb-3" id="drty-card">
  <div class="row no-gutters" id="drty-card-header">
    <div class="col-md-3" >
      <img src={{user.profile_pic}} class="card-img my-prof" alt="avatar" style="height:300px; object-fit:cover; width: 300px;">
    </div>
    <div class="col-md-3" id="drty-card-header-textbox" >
      <div class="card-body">
        <h1 class="card-title"> {{user.first_name}} {{user.last_name}}</h1>
        <h4 class="card-text"> {{user.user_home}}</h4>
        <h7 class="card-text"> Age:{{user.user_age}}</h7>
        <p class="card-text" style="color:black;">About me: {{user.about_me}}</p>
      </div>
      <div class="col-md-7"></div>
    </div>
  </div>
</div>



<div class="row">
  {{#each stamps}}
  <div class="col-md-4">
    <div class="card" style="width: 18rem;" id="user-drty-card-stamp">
      <a  href="/stamps/{{this.id}}" style="color: black;  "id="user-drty-stamp-link">
      <img class="card-img-top" src={{this.photo_url}} alt="Card image cap">
      <div class="card-body">
        
        <div style="display: flex; justify-content: center;">
<h5 class="card-title">{{this.destination_name}}</h5></div></a>
        <p class="card-text">{{this.destination_notes}}</p>
        <div style="display: flex; justify-content: center;">

        <a href="/users/{{this.UserId}}"><button class="btn btn-sm btn-danger stamp-like-btn" data-id="{{this.id}}" > {{this.likes}}❤️'s</button> </a>
       </div>
      </div>
    </div>
  </div>
  {{/each}}
</div>


<script src="/js/likes.js"></script>







